.tableCard {
  display: flex;
  align-items: center;

  span {
    font-size: 25px;
    font-weight: 600;
  }

  span:nth-child(2) {
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
  }
}
